body {
    color: #fff;
/* background-image: url("/images/800px-LinkinParkBerlin2010.jpg");
background-repeat: no-repeat;
background-size: cover; */
background: url("/images/800px-LinkinParkBerlin2010.jpg") cover no-repeat;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1 {
    text-align: center;
}

p {
font-family: 'Montserrat', sans-serif;
}

#hunting {
text-align: center;
margin: 35px 0;
}

#hunting p {
    text-transform: uppercase;
}

#tour {
    display: flex;
    justify-content: center;
}

.tix {
    width: 560px; 
    height: 315px;
    margin-right: 15px;
    border-radius: 45px;
}

#albums {
    text-align: center;
}

.albums-names {
    display: inline-block;
    text-align: left;
}

#video {
    display: flex;
    justify-content: center;
}

.video-left {
margin-right: 10px;    
}

.video-right {}

footer {
    text-align: center;
}